
@{
    ViewBag.Title = "Creator";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/194/227/3ee6188.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://profcleber.com/">Cléber dos Santos</a>
                    </div>
                    <div class="desc">Artesão de Software</div>
                    <div class="desc">Desenvolvedor Curioso</div>
                    <div class="desc">Professor</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/in/cleberds">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a class="btn btn-default btn-sm" rel="publisher"
                       href="https://github.com/CleberDSantos">
                        <i class="fa fa-github-alt"></i>
                    </a>
                    <a class="btn btn-primary  btn-sm" rel="publisher"
                       href="https://www.facebook.com/cleber.d.santos.5">
                        <i class="fa fa-facebook"></i>
                    </a>
                   
                </div>
            </div>
        </div>
    </div>
</div>