
@{
    ViewBag.Title = "About";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Sobre o aplicativo</h2>

<p>
    Gerador de memes é um simples aplicativo que tem como principal objetivo tornar real a criatividade do usuario para que ele mesmo possa criar e publicar seus proprios memes de maneira simples a amigável, podendo utilizar seu computador ou seu smartphone sem surtir efeitos colaterais na experiência do usuario.

</p> 
