
@{
    ViewBag.Title = "Ocorreu um erro";
    Layout = "~/Views/shared/_Layout.cshtml";
}



<div class="row" style="margin-bottom:200px;">
    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <img src="~/Content/img/error.jpg" class="img-responsive" />
        <h2 style="text-align:center; margin-top:-40px;">Ocorreu um erro em sua solicitação!</h2>
    </div>
</div>


