
@{
    ViewBag.Title = "Gerador de Memes";
}

<h3>Gerador de Meme pirqui </h3>

<div class="form-group" id="pirqui">

    <form id="form" action="/home/PublicarFoto" method="post">
        <div class="row">
            <div class="col-md-7 pirqui">
                <label>{{message}}</label>
                <img src="~/Content/img/pirqui/meme.jpg" class="img-responsive center-block" />
                <label>{{convertMessage}}</label>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Informe o texto</label>
                    <textarea v-model="message" class="form-control" rows="3" name="text"></textarea>
                </div>
                <div class="form-group">
                    <a class="btn btn-block btn-social btn-facebook" onclick="document.getElementById('form').submit()" style="width:45%;">
                        <span class="fa fa-facebook"></span> Postar no Facebook
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
